.gambar{
    width: 400px;
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    justify-items: center;
    margin: auto 0;
}

@media (min-width:1000px) {
    .gambar{
        width: 1000px;
        display: flex;
        overflow: hidden;
        align-items: center;
        justify-content: center;
        justify-items: center;
        margin: auto;
    }
    
  }